<p>
  <strong>Commenter: </strong>
  <%= comment.commenter %>
</p>
<p>
  <strong>Comment: </strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', user_article_comment_path(current_user.id, @article.id, comment), method: :delete, data: {confirm: 'Are you sure?' } %>
</p>