<% @articles.reverse.each do |article| %>
  <div class="col-md-4 col-sm-4 col-lg-4">
    <h1>
      <%= article.title.capitalize %>
    </h1>
    <span class="span">
    <% @user = @users.find(article.user_id) %>
      By: <%= @user.email %>, at <%= article.created_at %>
    </span>
    <%= link_to 'Read more...', user_article_path(@user, article)%>
  </div>
<% end %>